.box{
    background: white;
}
.guide{
    width: 100%;
    height: 0.7rem;
    background: white;
    display: flex;
    justify-content: space-around;
}
.guide>div{
    margin: auto 0;
}
.guide img{
    width: 1.2rem;
    height: 0.4rem;
}
.search{
    width: 65%;
    height: 0.4rem;
    background: #F3F3F3;
    color: #757575;
    font-size: 0.18rem;
    border-radius:0.2rem;
    line-height: 0.4rem;
    padding: 0 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login{
    font-size: 0.18rem;
}
.login a{
    color: #ff900f
}
.box .wing{
    margin-left: 0px; 
    margin-right: 0px;
}
.am-wingblank{
    margin-left: 0px;
    margin-right: 0px;
}
.guidebox{
    width: 100%;
    height: 2.6rem;
    font-size: 0.2rem;
}
.guidebox >ul{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    /* justify-content:space-around */
}
.guidebox div{
    text-align: center;
}
.guidebox >ul>li{
    width: 25%;
}
.guidebox img{
    width: 0.7rem;
    height: 0.7rem;
}
.gl{
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    color:#898989;
    background: #EBEBEB;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
.travelsbox{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.22rem;
}
.travelitem{
    width: 100%;
    margin-bottom: 30px
}
.travelitem::after{
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    /* border-bottom: 1px solid black; */
    background: #BCBCBC;
    margin-top: 15px;
}
.infobox{
    display: flex;
    width: 100%;

}
.infobox img{
    width: 1.87rem;
    height: 1.3rem;
}
.title{
    font-size: 0.27rem;
    padding-right: 0.6rem;
    line-height: 0.35rem;
    margin: 10px 0;
}
.info{
    height: 0.9rem;
    padding-left: 15px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 0.2rem;
    color: #999;
    line-height: 0.3rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.publisher{
display: flex;
justify-content: space-between;
font-size: 0.18rem;
color: #999;
padding: 0 15px;
height: 0.4rem;
line-height: 0.4rem;
}
.totop{
    position: fixed;
    bottom: 50px;
    right: 30px;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color:gray;
    background: rgba(255,255,255,0.3);
    border: 2px solid gray;
    z-index: 100;
}